*{
    margin:0%;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*navbar*/
.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-left: 3%;
    vertical-align: middle;
}
.btn{
    background-color:#00baf2 ;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 25px;
    font-size: 19px;
    padding:1% 0.8%;
}
.btn:hover{
    background-color:#012a72 ;
}
/*WALLET*/
.wallet{
    background-color: grey ;
    text-align: center;
    padding:1%;
}
/*section2*/
.sec2{
    display:flex;
    flex-direction: row;
    margin-top: 6%;
    margin-left: 6%;
}
.one img{
    margin-bottom: 6%;
}
.one h1{
    font-size: 60px;
}
.one p{
    font-size: 23px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.two{
    margin-left: 5%;
}
.one button{
    background-color: black;
    color:white;
    border:none;
    padding:1.4%;
    width:40%;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
}
.one button:hover{
    border:1px solid black;
    background-color: white;
    color: black;
}
/*section3*/
.sec3{
    margin-top: 5%;
    background-color: #00baf2;
    padding-bottom: 3%;
}
.head3{
    color:white;
    font-size: 34px;
    padding-top: 4%;
    padding-left: 6%;
}
.icons{
    display: flex;
    flex-direction: row;
    margin: 4% 7%;
}
.icons a img{
    width: 30%;
}
.icons a p{
    color:white;
    font-weight: bold;
    margin-top: 2%;
    font-size: 18px;
    width:50px;
    line-height: 30px;
}
/*section4*/
.sec4{
    background-color: #edebeb;
    display: flex;
    flex-direction: row;
}
.main4{
    padding: 3%;
    width:50%;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}
.four1{
    margin-left: 10%;
    margin-right: 4%;
}
.four2{
    margin-right: 10%;
}
.main4 img{
    margin-top: 3%;
    margin-bottom: 3%;
}
.main4 h1{
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.main4 p{
    font-size: 17px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight:bold ;
}